<md-dialog class="ame-lightbox" aria-label="Images" ng-class="{'_loading': ctrl.loading}">
    <md-dialog-content>
        <md-progress-circular ng-if="ctrl.loading"></md-progress-circular>
        <div id="ame_lightbox_image" md-swipe-left="ctrl.prev()" md-swipe-right="ctrl.next()">
            <img ame-on-load="ctrl.imageLoaded()"
                 ng-show="!ctrl.loading && !ctrl.resizing" ng-src="{{ctrl.items[ctrl.currentIndex].src}}"/>
        </div>
        <div layout="row" class="_dots" ng-show="ctrl.options.showDots">
            <md-radio-group ng-model="ctrl.currentIndex">
                <md-radio-button ng-repeat="item in ctrl.items" ng-value=":: $index"
                                 aria-label="Image {{:: $index}}"></md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>

    <md-button ng-class="ctrl.options.buttonClass" aria-label="Next" hide-xs
               class="md-icon-button _next" ng-click="ctrl.next()">
        <md-icon>
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </md-icon>
    </md-button>
    <md-button ng-class="ctrl.options.buttonClass" aria-label="Prev" hide-xs
               class="md-icon-button _prev" ng-click="ctrl.prev()">
        <md-icon>
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </md-icon>
    </md-button>
</md-dialog>
